/* General Styles */

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    width: 100%;
    height: 250px;
    background-color: #ffcc00;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header:hover {
    background-color: #ff9900; /* Change to your desired hover color */
}

header img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

a {
    text-decoration: none;
}

a img {
    border: none;
}

/* Main Content Styles */
main {
    padding: 20px;
    text-align: center;
}

/* Button Styles */
button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
}

button:hover {
    background-color: #0056b3;
}

/* Picture Page Styles */
img {
    max-width: 100%;
    height: auto;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

/* Contact Form Styles */
form {
    margin: 0 auto;
    max-width: 400px;
}

input, textarea, button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}
